/* style.css */
body, html {
    height: 100vh;
    margin: 0;
}

#big_container {
    display: flex;
    height: 100%;
}

#left_container {
    width: 20%;
    background-color: #F9FAFB; /* Example background color */
    height: 100%;
    display: inline-block;
    overflow: auto;
}

#mahindra_logo {
    width: 80%;
    padding: 4%;
    padding-left: 6%;
}


.grey_font {
    color: #848484; 
}

#dNZnPop4vEWlLc {
    font-size: 25px;
}

#pwsld {
    padding: 10px;
    padding-left: 20px;
    position: relative;
    left: 4px;
    top: 20px;
}


#MrKCgSxHMeTD2Rk {
    padding: 20px;
    /* list-style-image: url(./key.png) ; */
}

#cNKt81CvfXNk5Of {
    padding: 20px;
}


/* li {
  list-style: none;
}
li::before {
  content: '';
  display: inline-block;
  left: 10px;
  height: 10px;
  width: 10px;
  background-image: url(./key.png);
} */

#right_container {
    padding: 20px;
    width: 79%;
    display: inline-block;
    flex-direction: column;
    background-color: #F3F3F4; /* Example background color */
    overflow: auto;
}

#VYFc1qozkId5mra {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#toggle_menu_div {
    width: 20%;

}

#toggle_menu {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 20%;
}

#person_id_profile {
    /* display: inline-block;
    position: relative;
    right: 0px;
    left: 50%; */

    /* flex: 1 1 0; */

    justify-content: right;
  display: flex;
  width: 80%;
    
}

#diCgqRzdsILqdTa {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

#zEYPp41JmDPM4Qy {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    width: 30%;
}

#button_div {
    display: flex;
    width: 70%;
    justify-content: right;
}

#N8NODaXdtouCuiJ {
    width: 100px;
    background-color: #D6223A;
    color: white;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}



#jZ3qbrkXCeEdwsa {
    display: inline-block;
    height: 30px;
}



#content_table {
    position: relative;
    /* top: 50%; */
    top: 50px;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

table {
    width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
}



th,
td {
	padding: 15px;
	color: black;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #DDE2EA;
	}
}

tbody {
    background-color: white;
	tr {
		&:hover {
			background-color: rgb(235, 234, 234);
		}
        
	}
}
.keyVal:hover{
    text-decoration:underline;
    cursor: pointer;
}
.copyBtnDiv{
    left: 15px;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 75%;
    /* display: none; */
    opacity: 0;
    transform: translateY(8px);
    transition: all ease-in 0.1s;
}
.copyBtnDiv p{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #111;
    padding: 3%;
    color: white;
    border-radius:5px ;
    font-size: 0.8em;
}
.generatedApiPart{
    position: relative;
}
.generatedApiPart:hover{
    .copyBtnDiv{
        opacity: 1;
        transform: translateY(0px);
    }
}
.secKeyCreate button{
    border: none;
    padding: 5%;
    cursor: pointer;
    background-color: transparent;
}