/* You can add global styles to this file, and also import other style files */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.redBtnEffect {
    /* background-color: #D6223A; */
    position: relative;
}

.redBtnEffect::after {
    top: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    opacity: 0.1;
    cursor: pointer;
    background-color: black;
    left: 0;
    transition: all ease-in-out 0.3s;
}

.redBtnEffect:hover::after {
    width: 100% !important;
}